* {
  font-family: Robot, sans-serif;
}

.subrow {
  background: #f1efef
}

.formHeader,
.table>thead>tr>th {
  border-bottom: 2px solid #000000;
}

.table>tbody>tr>td {
  line-height: 2;
}

.subhead {
  font-weight: 600;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.btn-circle {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 17px;
}
