* {
  font-family: Robot, sans-serif;
}

.subrow {
  background: #f1efef
}

.formHeader,
.table>thead>tr>th {
  border-bottom: 2px solid #000000;
}

.table>tbody>tr>td {
  line-height: 2;
}

.subhead {
  font-weight: 600;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.btn-circle {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 17px;
}

.sort {
  margin-left: 3px;
}

#todo {
  width: 100%;
	padding: 8px 6px 8px 30px;
	border: none;
	background: rgb(255, 255, 255);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  border: 1px solid #999;
  border-radius: 0;
}

.to-do-container {
  padding: 2%;
  background: #f5f5f5;
}

.list {
  box-sizing: border-box;
  background: rgb(255,255,255);
  width: 100%;
  height: 34px;
}

.list-item {
  font-weight: 400;
}

.sub-container {
  padding-left: 2%;
  background: #ffffff;
}

.border-wrap {
  margin-left: -2%;
  padding-left: 2%;
  background: #ffffff;
  border: 1px solid #999;
  border-top: none;
}

.normal {
  color: #000000;
  text-decoration: none;
  vertical-align: middle;
}

.strikethrough {
  color: #999;
  text-decoration: line-through;;
  font-style: italic;
  vertical-align: middle;
}

.task-track {
  text-align: center;
  background: #ffffff;
  border: 1px solid #999;
  border-top: none;
}

.remove-task {
  color: #EF4836;
  float: right;
  vertical-align: middle;
  margin-right: 3%;
  font-size: 1.3em;
}

#grade-group,
#addButton,
#cancelButton {
  margin-top: 5%;
}
