<!doctype html>
<html>
    <head>
        <title>Student Management System</title>
        <meta name="viewport" content="initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>
        <script src="js/ui-bootstrap-tpls-1.3.3.min.js"></script>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/awesome-bootstrap-checkbox.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-app="studentTable">
        <div class="container" ng-controller="studentController as sc">
            <div class="page-header">
                <!-- only show this element when the isnt on mobile -->
                <h1 class='hidden-xs col-md-12'>Colony High School SMS
                  <!-- Difficult to see the value this provides -->
                    <!-- <small class="pull-right col-sm-4">Number of Students :
                        <span class="avgGrade label label-default">{{ sc.studentCount }}</span>
                    </small> -->
                </h1>
                <!-- only show this element when the user gets to a mobile version -->
                <h3 class='visible-xs col-xs-12'>Colony High School Student System
                  <!-- Difficult to see utility in this -->
                    <!-- <small class="pull-right col-xs-6">Number of Students :
                        <span class="avgGrade label label-default">{{ sc.studentCount }}</span>
                    </small> -->
                </h3>
            </div>

            <div class="student-add-form col-sm-3 col-xs-12 form-horizontal pull-right to-do-container">
                <h4 class="formHeader">To-Do List</h4>
                <div ng-controller="todoController as tc">
                    <input id="todo" class="form-control" ng-model="tc.todo" ng-keyup="tc.addTodo()" type="text" placeholder="What needs to be done?">
                    <div class="sub-container">
                        <div class="border-wrap" ng-repeat="item in tc.todoList">
                            <div class="checkbox checkbox-circle list">
                                <input ng-click="toggleText = !toggleText; tc.markCheck(toggleText)" class="toggle" type="checkbox" id="{{ checkbox + $index }}" ng-click()>
                                <label ng-class="{ 'strikethrough': toggleText , 'normal': !toggleText }" for="{{ checkbox + $index }}">{{ item }}</label>
                                <i ng-click="tc.removeTask($index)" class="remove-task fa fa-times-circle-o"></i>
                            </div>
                        </div>
                    </div>
                    <p class="task-track"> {{ tc.todoList.length }} {{ tc.task }} {{ tc.completed }} Completed</p>
                </div>
                <h4 ng-click="showstudentform = ! showstudentform" class="formHeader">Add New Student</h4>
                <student-info info="addform" ng-show="showstudentform"></student-info>
                <div class="group">
                    <button type="button" class="col-md-5 col-lg-5 col-xs-5 pull-left addButton btn btn-success" id="addButton" ng-show="showstudentform" ng-click="sc.submit(); showstudentform = ! showstudentform">Add</button>
                    <button type="button" class="col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-2 col-xs-5 col-xs-offest-2 btn btn-default" id="cancelButton" ng-show="showstudentform" ng-click="sc.clearInputs()">Cancel</button>
                </div>
                <h4 class="formHeader">Search</h4>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <input type="text" class="form-control" placeholder="Search for a student" ng-model="searchStudent">
                </div>
                <h4 class="formHeader" ng-click="helpToggle = !helpToggle">Legend/Help</h4>
                <ul ng-show="helpToggle">
                  <li>Press on Add Student to add a student.</li>
                  <li>Click on a student's name to see information about their guardians.</li>
                  <li>Click on a student's grade level to see their class information.</li>
                  <li>Click on the green "Add button" to add a course or student.</li>
                  <li>Click on the blue "Edit button" to edit a student's information.</li>
                  <li>Click on the red "Delete" icon to permanently delete the student from the database.</li>
                </ul>
            </div>

            <div class="student-list-container col-sm-9 col-xs-12">
                <table class="table student-list" id="student-table">
                    <thead>
                        <tr>
                            <th>Studen ID</th>
                            <th ng-click="sc.sortType = 'name'">Student Name<span ng-click="sc.sortType = 'name'; sc.sortReverse = !sc.sortReverse" class="sort glyphicon glyphicon-sort"></span>
                            </th>
                            <th ng-click="sc.sortType = 'grade'">Grade Level<span ng-click="sc.sortType = 'grade'; sc.sortReverse = !sc.sortReverse" class="sort glyphicon glyphicon-sort"></span>
                            </th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="student in sc.students | orderBy: sc.sortType:sc.sortReverse | filter: searchStudent">
                            <td>{{ student.id }}</td>
                            <td ng-hide="editStudent" ng-model="student.name" ng-click="showGuardians = ! showGuardians; sc.guardianExpand();">{{ student.name }}</td>
                            <td ng-show="editStudent">
                                <input class="form-control" type="text" name="editStudentName" id="editStudentName" ng-model="student.name">
                            </td>
                            <td ng-hide="editStudent" ng-model="student.grade" ng-click="showCourses = ! showCourses; sc.courseExpand();">{{ student.grade }}</td>
                            <td ng-show="editStudent">
                                <input class="form-control" type="text" name="editStudentGrade" id="editStudentGrade" ng-model="student.grade">
                            </td>
                            <td ng-hide="editStudent">
                                <button class="btn btn-primary edit-btn btn-circle glyphicon glyphicon-edit" ng-click="editStudent=!editStudent"></button>
                                <button class="btn btn-danger delete-btn btn-circle glyphicon glyphicon-trash" ng-click="sc.deleteStudent(student, $index)"></button>
                            </td>
                            <td ng-show="editStudent">
                                <button class="btn btn-success edit-btn btn-circle glyphicon glyphicon-ok" ng-click="sc.editStudent(student); editStudent=!editStudent"></button>
                                <button class="btn btn-danger delete-btn btn-circle glyphicon glyphicon-remove" ng-click="editStudent=!editStudent"></button>
                            </td>
                        </tr>
                        <tr class="subhead" ng-show="showGuardians">
                            <td>
                                Relationship
                            </td>
                            <td>
                                Name
                            </td>
                            <td>
                                Contact
                            </td>
                            <td>
                                <button class="btn btn-success add-btn btn-circle glyphicon glyphicon-plus" ng-click="showGuardianInput =!showGuardianInput"></button>
                            </td>
                        </tr>
                        <tr class="subrow" ng-show="showGuardians" ng-repeat="guardian in student.guardians">
                            <td ng-hide="editGuardian" ng-model="guardian.relationship">
                                {{ guardian.relationship }}
                            </td>
                            <td ng-show="editGuardian">
                                <input class="form-control" type="text" name="editGuardianRelationship" id="editGuardianRelationship" ng-model="guardian.relationship">
                            </td>
                            <td ng-hide="editGuardian" ng-model="guardian.name">
                                {{ guardian.name }}
                            </td>
                            <td ng-show="editGuardian">
                                <input class="form-control" type="text" name="editGuardianRelationship" id="editGuardianName" ng-model="guardian.name">
                            </td>
                            <td ng-hide="editGuardian" ng-model="guardian.contact">
                                {{ guardian.contact }}
                            </td>
                            <td ng-show="editGuardian">
                                <input class="form-control" type="text" name="editGuardianContact" id="editGuardianContact" ng-model="guardian.contact">
                            </td>
                            <td ng-hide="editGuardian">
                                <button class="btn btn-primary edit-btn btn-circle glyphicon glyphicon-edit" ng-click="editGuardian = !editGuardian"></button>
                                <button class="btn btn-danger delete-btn btn-circle glyphicon glyphicon-trash" ng-click="sc.deleteGuardian(student, guardian.obj)"></button>
                            </td>
                            <td ng-show="editGuardian">
                                <button class="btn btn-success edit-btn btn-circle glyphicon glyphicon-ok" ng-click="sc.editGuardian(student, guardian, guardian.obj); editGuardian = !editGuardian"></button>
                                <button class="btn btn-danger delete-btn btn-circle glyphicon glyphicon-remove" ng-click="editGuardian = !editGuardian"></button>
                            </td>
                        </tr>
                        <tr ng-show="showGuardianInput">
                            <td>
                                <input class="form-control" type="text" name="insertGuardianRelationship" id="insertGuardianRelationship" ng-model="sc.guardians.relationship">
                            </td>
                            <td>
                                <input class="form-control" type="text" name="insertGuardianName" id="insertGuardianName" ng-model="sc.guardians.name">
                            </td>
                            <td>
                                <input class="form-control" type="text" name="insertGuardianContact" id="insertGuardianContact" ng-model="sc.guardians.contact">
                            </td>
                            <td>
                                <button class="btn btn-success edit-btn btn-circle glyphicon glyphicon-ok" ng-click="sc.addGuardian(student , student.guardians)"></button>
                                <button class="btn btn-danger delete-btn btn-circle glyphicon glyphicon-remove" ng-click="sc.clearInputs(student)"></button>
                            </td>
                        </tr>
                        <tr class="subhead" ng-show="showCourses">
                            <td>
                                Instructor Name
                            </td>
                            <td>
                                Course
                            </td>
                            <td>
                                Grade
                            </td>
                            <td>
                                <button class="btn btn-success add-btn btn-circle glyphicon glyphicon-plus" ng-click="showCourseInput = ! showCourseInput"></button>
                            </td>
                        </tr>
                        <tr class="subrow" ng-show="showCourses" ng-repeat="course in student.courses">
                            <td ng-model="course.instructor" ng-hide="editCourse">
                                {{ course.instructor }}
                            </td>
                            <td ng-show="editCourse">
                                <input class="form-control" type="text" name="editInstructorName" id="editInstructorName" ng-model="course.instructor">
                            </td>
                            <td ng-model="course.course" ng-hide="editCourse">
                                {{ course.course }}
                            </td>
                            <td ng-show="editCourse">
                                <input class="form-control" type="text" name="editCourseName" id="editCourseName" ng-model="course.course">
                            </td>
                            <td ng-model="course.grade" ng-hide="editCourse">
                                {{ course.grade }}
                            </td>
                            <td ng-show="editCourse">
                                <input class="form-control" type="text" name="editCourseGrade" id="editCourseGrade" ng-model="course.grade">
                            </td>
                            <td ng-hide="editCourse">
                                <button class="btn btn-primary edit-btn btn-circle glyphicon glyphicon-edit" ng-click="editCourse = !editCourse"></button>
                                <button class="btn btn-danger delete-btn btn-circle glyphicon glyphicon-trash" ng-click="sc.deleteCourse(student, course, course.obj)"></button>
                            </td>
                            <td ng-show="editCourse">
                                <button class="btn btn-success edit-btn btn-circle glyphicon glyphicon-ok" ng-click="sc.editCourse(student, course, course.obj); editCourse = !editCourse"></button>
                                <button class="btn btn-danger delete-btn btn-circle glyphicon glyphicon-remove" ng-click="editCourse = !editCourse"></button>
                            </td>
                        </tr>
                        <tr ng-show="showCourseInput" ng-repeat-end>
                            <td>
                                <input class="form-control" type="text" name="insertInstructorName" id="insertInstructorName" placeholder="Instructor Name" ng-model="sc.courses.instructor">
                            </td>
                            <td>
                                <input
                                    class="form-control"
                                    uib-typeahead="course for course in sc.courseList | filter: $viewValue | limitTo: 8"
                                    data-toggle="popover"
                                    data-placement="toggle"
                                    ui-items="sc.courseList"
                                    type="text"
                                    name="insertCourse"
                                    id="insertCourse"
                                    placeholder="Course Name"
                                    ng-model="sc.courses.course">
                            </td>
                            <td>
                                <input class="form-control" type="text" name="insertCourseGrade" id="insertCourseGrade" placeholder="Course Grade" ng-model="sc.courses.grade">
                            </td>
                            <td>
                                <button class="btn btn-success edit-btn btn-circle glyphicon glyphicon-ok" ng-click="sc.addCourse(student); showCourseInput = ! showCourseInput"></button>
                                <button class="btn btn-danger delete-btn btn-circle glyphicon glyphicon-remove" ng-click="sc.clearInputs(); showCourseInput = ! showCourseInput"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <p>{{ sc.modalText }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Modules-->
        <script src="js/app.js"></script>
        <!--Services-->
        <script src="js/services/students.js"></script>
        <!--Controllers-->
        <script src="js/controllers/studentController.js"></script>
        <script src="js/controllers/todoController.js"></script>
        <!--Directives-->
        <script src="js/directives/studentInfo.js"></script>
        <script src="js/directives/insertInfo.js"></script>
    </body>
</html>
