<!doctype html>
<html>
    <head>
        <link rel="shortcut icon" href="assets/favicon-database.ico">
        <title>Student Grade Table</title>
        <meta name="viewport" content="initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>
        <script src="js/ui-bootstrap-tpls-1.3.3.min.js"></script>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/awesome-bootstrap-checkbox.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-app="studentTable">
        <div class="container" ng-controller="studentController as sc">
            <div class="page-header">
                <!-- only show this element when the isnt on mobile -->
                <h1 class='hidden-xs col-md-12'>Student Grade Table
                    <!-- Difficult to see the value this provides -->
                    <small class="pull-right">Average Grade :
                        <span class="avgGrade label label-default">{{ sc.average }}</span>
                    </small>
                </h1>
                <!-- only show this element when the user gets to a mobile version -->
                <h3 class='visible-xs col-xs-12'>Student Grade Table
                    <!-- Difficult to see utility in this -->
                    <small class="pull-right">Average Grade :
                        <span class="avgGrade label label-default">{{ sc.average }}</span>
                    </small>
                </h3>
            </div>

            <div class="student-add-form col-sm-3 col-xs-12 form-horizontal pull-right to-do-container">
                <h4 ng-click="showstudentform = ! showstudentform" class="formHeader">Add New Student</h4>
                <student-info info="addform" class="legend"></student-info>

                <h4 class="formHeader">Search</h4>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <input type="text" class="form-control" placeholder="Search for a student" ng-model="searchStudent">
                </div>

                <h4 class="formHeader">To-Do List</h4>
                <div ng-controller="todoController as tc">
                    <input id="todo" class="form-control" ng-model="tc.todo" ng-keyup="tc.addTodo()" type="text" placeholder="What needs to be done?">
                    <div class="sub-container">
                        <div class="border-wrap" ng-repeat="item in tc.todoList">
                            <div class="checkbox checkbox-circle list">
                                <input ng-click="toggleText = !toggleText; tc.markCheck(toggleText)" class="toggle" type="checkbox" id="{{ checkbox + $index }}" ng-click()>
                                <label ng-class="{ 'strikethrough': toggleText , 'normal': !toggleText }" for="{{ checkbox + $index }}">{{ item }}</label>
                                <i ng-click="tc.removeTask($index)" class="remove-task fa fa-times-circle-o"></i>
                            </div>
                        </div>
                    </div>
                    <p class="task-track">
                        {{ tc.todoList.length }}
                        {{ tc.task }}
                        {{ tc.completed }}
                        Completed</p>
                </div>
            </div>

            <div class="student-list-container col-sm-9 col-xs-12">
                <table class="table table-striped table-hover student-list" id="student-table">
                    <thead>
                        <tr>
                            <th ng-click="sc.sortType = 'name'">Student Name<span ng-click="sc.sortType = 'name'; sc.sortReverse = !sc.sortReverse" class="sort glyphicon glyphicon-sort"></span></th>
                            <th ng-click="sc.sortType = 'assignment'">Student Assignment<span ng-click="sc.sortType = 'assignment'; sc.sortReverse = !sc.sortReverse" class="sort glyphicon glyphicon-sort"></span>
                            </th>
                            <th ng-click="sc.sortType = 'grade'">Grade<span ng-click="sc.sortType = 'grade'; sc.sortReverse = !sc.sortReverse" class="sort glyphicon glyphicon-sort"></span>
                            </th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in sc.students | orderBy: sc.sortType:sc.sortReverse | filter: searchStudent" class="animate-repeat" ng-class="{'danger': sc.dangerCheck(student.grade), 'warning': sc.warningCheck(student.grade)}">
                            <td class="col-sm-3">{{ student.name }}</td>
                            <td class="col-sm-3" ng-model="student.name">{{ student.assignment }}</td>
                            <td class="col-sm-3" ng-model="student.grade">{{ student.grade }}</td>
                            <td class="col-sm-3">
                                <button class="btn btn-primary" ng-click="sc.editStudentObject(student)">Edit</button>
                                <button class="btn btn-danger" ng-click="sc.deleteStudent(student)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Edit Student Modal -->
            <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modak-title">Edit Student
                                {{ sc.editIDStudent }}</h4>

                            <div class="modal-body">
                                <form id="edit-form" class="form-horizontal">
                                    <fieldset>
                                      <!-- Name Input -->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="modal-edit-name">Student Name</label>
                                            <div class="col-md-9">
                                                <input ng-model="sc.editStudent.name" name="modal-edit-name" type="text" placeholder="Student Name" class="form-control input-md" required>
                                                <span class="help-block">Edit Name</span>
                                            </div>
                                        </div>

                                        <!-- Assignment input-->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="modal-edit-assignment">Student Assignment</label>
                                            <div class="col-md-9">
                                                <input ng-model="sc.editStudent.assignment" name="modal-edit-assignment" type="text" uib-typeahead="course for course in sc.assignmentArray | filter: $viewValue | limitTo: 8" data-toggle="popover" data-placement="toggle" ui-items="sc.assignmentArray" placeholder="Student Assignment" class="form-control input-md" required>
                                                <span class="help-block">Edit Assignment</span>
                                            </div>
                                        </div>

                                        <!-- Grade Input-->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="modal-edit-grade">Student Grade</label>
                                            <div class="col-md-9">
                                                <input ng-model="sc.editStudent.grade" name="modal-edit-grade" type="text" placeholder="Student Grade" class="form-control input-md">
                                                <span class="help-block">Edit Grade</span>
                                            </div>
                                        </div>

                                        <!-- Confirm Edit Button  -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="confirm-edit">Confirm Edit</label>
                                            <div class="col-md-8">
                                                <button id="confirm-edit" name="confirm-edit" type="button" class="btn btn-success" ng-click="sc.confirmStudentEdit()" data-dismiss="modal">Confirm</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <p>{{ sc.modalText }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Modules-->
        <script src="js/app.js"></script>
        <!--Services-->
        <script src="js/services/students.js"></script>
        <!--Controllers-->
        <script src="js/controllers/studentController.js"></script>
        <script src="js/controllers/todoController.js"></script>
        <!--Directives-->
        <script src="js/directives/studentInfo.js"></script>
        <script src="js/directives/insertInfo.js"></script>
    </body>
</html>
