<div class="row">
    <div class="col-md-8">
        <h1>Students</h1>
        <table class="table table-hover table-striped">
            <thead>
                <th>
                    Name
                </th>
                <th>
                    Grade
                </th>
            </thead>
            <tbody>
                {{#each model as |student|}}
                    <tr>
                        <td>{{#link-to 'students.show' student.id}}{{concat-name fname=student.firstname lname=student.lastname}}{{/link-to}}</td>
                        <td>{{student.grade}}</td>
                    </tr>
                    {{else}}
                        <h4>No Students on Record</h4>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        {{render "students.new"}}
    </div>
</div>