<h4>New Assignment</h4>
<form>
    <div class="form-group">
        <label>Name</label>
        {{input type="text" class="form-control" value=name placeholder="Name"}}
    </div>
    <div class="form-group">
        <label>Points</label>
        {{input type="text" class="form-control" value=points placeholder="Points"}}
    </div>
    <button class="btn btn-primary" {{ action 'newAssignment'}}>Submit</button>
</form>