<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
    </span>
    <input type="text" class="form-control" name="mathInstructor" id="mathInstructor" placeholder="Math Instructor" ng-model="sc.student.courses.mathematics.instructor">
</div>
<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="fa fa-calculator"></span>
    </span>
    <input type="text" class="form-control" name="mathcourse" id="mathcourse" placeholder="Math Course" ng-model="sc.student.courses.mathematics.course">
</div>
<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="fa fa-file-o"></span>
    </span>
    <input type="text" class="form-control" name="mathGrade" id="mathGrade" placeholder="Math Grade" ng-model="sc.student.courses.mathematics.grade">
</div>
<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
    </span>
    <input type="text" class="form-control" name="englishInstructor" id="englishInstructor" placeholder="English Instructor" ng-model="sc.student.courses.english.instructor">
</div>
<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="fa fa-book"></span>
    </span>
    <input type="text" class="form-control" name="englishcourse" id="englishcourse" placeholder="English Course" ng-model="sc.student.courses.english.course">
</div>
<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="fa fa-file-o"></span>
    </span>
    <input type="text" class="form-control" name="englishGrade" id="englishGrade" placeholder="English Grade" ng-model="sc.student.courses.english.grade">
</div>

<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
    </span>
    <input type="text" class="form-control" name="scienceInstructor" id="scienceInstructor" placeholder="Science Instructor" ng-model="sc.student.courses.science.instructor">
</div>
<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="fa fa-flask"></span>
    </span>
    <input type="text" class="form-control" name="sciencecourse" id="sciencecourse" placeholder="Science Course" ng-model="sc.student.courses.science.course">
</div>
<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="fa fa-file-o"></span>
    </span>
    <input type="text" class="form-control" name="scienceGrade" id="scienceGrade" placeholder="Science Grade" ng-model="sc.student.courses.science.grade">
</div>

<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
    </span>
    <input type="text" class="form-control" name="electiveInstructor" id="electiveInstructor" placeholder="Elective Instructor" ng-model="sc.student.courses.elective.instructor">
</div>
<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="fa fa-pied-piper"></span>
    </span>
    <input type="text" class="form-control" name="electivecourse" id="electivecourse" placeholder="Elective Course" ng-model="sc.student.courses.elective.course">
</div>
<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="fa fa-file-o"></span>
    </span>
    <input type="text" class="form-control" name="electiveGrade" id="electiveGrade" placeholder="Elective Grade" ng-model="sc.student.courses.elective.grade">
</div>
<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
    </span>
    <input type="text" class="form-control" name="languageInstructor" id="languageInstructor" placeholder="Language Instructor" ng-model="sc.student.courses.language.instructor">
</div>
<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="fa fa-language"></span>
    </span>
    <input type="text" class="form-control" name="languagecourse" id="languagecourse" placeholder="Language Course" ng-model="sc.student.courses.language.course">
</div>
<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="fa fa-file-o"></span>
    </span>
    <input type="text" class="form-control" name="languageGrade" id="languageGrade" placeholder="Language Grade" ng-model="sc.student.courses.language.grade">
</div>

<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
    </span>
    <input type="text" class="form-control" name="physedInstructor" id="physedInstructor" placeholder="PhysEd Instructor" ng-model="sc.student.courses.physed.instructor">
</div>
<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="fa fa-bicycle"></span>
    </span>
    <input type="text" class="form-control" name="physedcourse" id="physedcourse" placeholder="PhysEd Course" ng-model="sc.student.courses.physed.course">
</div>
<div class="input-group form-group">
    <span class="input-group-addon">
        <span class="fa fa-file-o"></span>
    </span>
    <input type="text" class="form-control" name="physedGrade" id="physedGrade" placeholder="PhysEd Grade" ng-model="sc.student.courses.physed.grade">
</div>
