
  <td>
    <input class="form-control" type="text" name="insertInstructorName" id="insertInstructorName" placeholder="Instructor Name" ng-model="sc.insertInstructorName">
  </td>
  <td>
    <input class="form-control" type="text" name="insertCourse" id="insertCourse" placeholder="Course Name" ng-model="sc.insertCourse">
  </td>
  <td>
    <input class="form-control" type="text" name="insertCourseGrade" id="insertCourseGrade" placeholder="Course Grade" ng-model="sc.insertCourseGrade">
  </td>
  <td>
      <button class="btn btn-success edit-btn btn-circle glyphicon glyphicon-ok"></button>
      <button class="btn btn-danger delete-btn btn-circle glyphicon glyphicon-remove"></button>
  </td>
