<tr>
      <td>
        <input class="form-control" type="text" name="insertGuardianRelationship" id="insertGuardianRelationship" placeholder="Guardian Relationship" ng-model="sc.insertGuardianRelationship">
      </td>
      <td>
        <input class="form-control" type="text" name="insertGuardianName" id="insertGuardianName" placeholder="Guardian Name" ng-model="sc.insertGuardianName">
      </td>
      <td>
        <input class="form-control" type="text" name="insertGuardianContact" id="insertGuardianContact" placeholder="Guardian Contact" ng-model="sc.insertGuardianContact">
      </td>
      <td>
          <button class="btn btn-success edit-btn btn-circle glyphicon glyphicon-ok"></button>
          <button class="btn btn-danger delete-btn btn-circle glyphicon glyphicon-remove" ng-click="sc.deleteGuardian(student, guardian.obj)"></button>
      </td>
</tr>
