<div class="input-group">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
    </span>
    <input type="text" class="form-control" name="studentName" id="studentName" placeholder="Student Name" ng-model="sc.student.name">
</div>
<div class="input-group" id="grade-group">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-education"></span>
    </span>
    <input type="text" class="form-control" name="grade" id="grade" placeholder="Student Grade Level" ng-model="sc.student.grade">
</div>
